h1,h2,h3,h4,h5,h6,ol,li,ul,li,span,img,em,b,i,tr,div,table,td,p,form,input,html,body,dl,dd,dt,strong,hr {
    padding: 0;
    margin: 0;
}
ol li,ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
img{
    border:none;
}
h1,h2,h3,h4,h5,h6,b,strong{
    font-weight: normal;
}
.clearfix:after{
    content: ""; 
    overflow: hidden;
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
    display: block;
}
