@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1559129987631'); /* IE9 */
  src: url('iconfont.eot?t=1559129987631#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALMAAsAAAAABrAAAAJ9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgqBFIEhATYCJAMMCwgABCAFhG0HQxvsBcguMYXrA2ZAp4xzQ28LXuhvNwDwYfHwNfa/c3f3qbbvgkePqhkPmaGSrFUtmfkdzVDf1lrmAY3K+GdJXFJoD7N7+8fZlMbX6SpV+XWtcAWH3Px40yyWgK2sGmRuqiqrK5engBkLNG0Ve76H/msGaIdCU4dix+e5nN4EOjuaH+gc75qT9rB6ftQLMB6TAtwLo8hKKOMe4tXF7XSXHxNomtdTuXS8e4S2gq0KxCujPWiX0oqi1OpCteVgEe9V1NPbNN7F34+/jkedpJKxjdefHEJY/5j+OL+ZzeOQkCHg8QoydoFC3G0tX1cTClfTLNetgmPNCn48Oz+EIXFUPhF/nVffBptYSfzgOzyajkckkEG1XN0GzgjseFOIyeTR6dH8YWJ8Sbx0L1jccgWQ3JAGF7lT+WB2/Bv1Tz2XS3+/H/jv9PLEz9HlI5zsjkn8bw+6WD4vpmb8i0Dw8fWwcEj+1Snge++DQEF31c8TCf6ZTmwqtpkFczE1X3Oj2YRQSmjaMTMsPvQ33TUhDxLqE6I1czmyulWysLuoaDmJqrqzaNpxOt4ywmqiNLDtExD6vpB0fUPW900W9hcVU/+o6kdG093wwpb1eN4tkycUoj+hyfNMeWHpJo33pF8Sj4vmWHgmtiaH4/3Dau1EGfESW2yvJ9IqVHWe4hGeoyTJsajzMwUyiFoppsODJ21vGgRFCl0XMeIRJIR8H5ARyGVU2F50a5+/R7QXCQ/3GFrqZ4RZZno0NjAikCdHRjI8yivWK21CCAUpLJdCR5hHEokcKtrnnZGAGIgmFAtTQ95KUR2D7V3p/+2AJnZBjhQ5ivYL42WSv9goCuluwfqOfgAAAAA=') format('woff2'),
  url('iconfont.woff?t=1559129987631') format('woff'),
  url('iconfont.ttf?t=1559129987631') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1559129987631#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantoushang:before {
  content: "\e63a";
}

.icon-jiantouxia:before {
  content: "\e63b";
}

